html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #8EC5FC !important;
  background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 100%) !important;

} 

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chakra-link:hover { /* removes the underline when hovering a link */
  text-decoration: none !important;
}

.homeNav {  /* custom styling for the home navigation bar */
  padding-left: 20vw !important;
  padding-right: 20vw !important;
}


.homeThreeFeatures { /* custom styling for the home 3 features section */
  font-size: 1.2em;
  padding-bottom: 10vh;
}